name: foo

on:
  push:
    branches: [ "master" ]

jobs:
  foo:
    runs-on: ubuntu-22.04
    steps:
      - name: mysql
        uses: mirromutth/mysql-action@v1.1
        with:
          mysql version: 5.7
          mysql root password: testing
          character set server: utf8mb4
          collation server: utf8mb4_general_ci
      - uses: actions/checkout@v3
      - name: Run a one-line script
        run: echo Hello, world!
