name: foo

on:
  push:
    branches: [ "master" ]

jobs:
  foo:
    runs-on: ubuntu-22.04
    services:
      mysql:
        image: mysql:5.7
        ports:
          - 3306:3306
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
        options: --health-cmd "mysqladmin ping" --health-interval 10s --health-timeout 5s --health-retries 10

    steps:
      - uses: actions/checkout@v3
      - run: echo "SELECT 1" | mysql -h 127.0.0.1 -u root
      - run: mysqldump -h 127.0.0.1 -u root mysql > dump.sql
      # - name: mysql
      #   uses: mirromutth/mysql-action@v1.1
      #   with:
      #     mysql version: 5.7
      #     mysql user: "foo"
      #     mysql root password: ""
      #     character set server: utf8mb4
      #     collation server: utf8mb4_general_ci

      # - name: Setup tmate session
      #   uses: mxschmitt/action-tmate@v3
      # - name: setup my.cnf
      #   run: |
      #     echo "host=\nuser=${DB_USERNAME}\npassword=${DB_PASSWORD}\n" >> ~/.my.cnf
      # - name: Run a one-line script
      #   run: echo Hello, world!
